## Objectives


- Gain familiarity with Jupyter notebooks
- Use and manipulate various data types
- Create, assign, and update variables
- Represent information with data types
- Use Boolean operators 
- Create and modify strings with string methods
- Create tuples
- Create dictionaries

[Reference](https://ds.codeup.com/python/data-types-and-variables/)

---
## Data Types


| Data type | Description |
|:-: |----------|
| `bool`|   Boolean values (True or False) |
| `str`  |  whole, or counting numbers |
| `float`|  decimal numbers |
| `list`| an ordered sequence of objects |
| `dict`| a collection of named values
| `NoneType` |  indicates absence of a value


###  `type` function

Returns the data type of an object. 

```python
type(object)
```

### Examples

---

## Variables

### Assigning a variable

In [1]:
favorite_number = 42
n = favorite_number + 7

In [2]:
type(favorite_number)

int

#### Troubleshooting

What is the result of the following code?

```python
a = 6
print(a + b)
b = 4
```

### Updating a variable

In [6]:
x = 1
print(x)
x = x + 1
print(x)
x = x * 3 + x
print(x)

1
2
8

#### Example: Running a cell multiple times

In [7]:
number = 6

In [8]:
number = number + 1
print(number)

7

## Boolean values


There are two Boolean values: `True` and `False`

**Note:** A Boolean value is not a string

```python
type(True)
```
```
bool
```

```python
type('True')
```
```
str
```

## Comparison operators 



#### Checks for equality
```python
==
```



#### Checks for inequality
```python
!=
```

### Examples

In [9]:
True == True

True

In [10]:
True == False

False

In [11]:
True != False

True

In [13]:
5.0 == 5

True

In [14]:
'Hello' == 'hello'

False

In [15]:
'Hello' == ' Hello'

False

## Boolean Operators


Boolean operators evaluate statements and return a Boolean value.


#### `not` statements - also known as a negation


Returns the opposite Boolean value

| A | not A 
|:-: | :-:| 
| T | F |
| F | T |



For two statements **A** and **B**

#### `and` statement - also known as a *conjunction*


    
    

| A | B | A and B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | F | 
| F | T | F | 
| F | F | F | 



#### `or` statement - also known as a *disjunction*

    

| A | B | A or B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | T | 
| F | T | T | 
| F | F | F |

In [16]:
is_first_of_the_month = True
report_has_been_sent = False


should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

True



## Numbers

Two commonly used number types:


`int` - Whole numbers (both positive and negative) and 0

`float` - Numbers with decimals

####  Arithmetic Operations

| Operation      | Operator | Example  |
| ---------      | -------- | -------  |
| Addition       | `+`      | `4 + 4`  |
| Subtraction    | `-`      | `9 - 1`  |
| Multiplication | `*`      | `4 * 2`  |
| Division       | `/`      | `16 / 2` |
| Exponentiation | `**`     | `2 ** 3` |



####  Comparison Operations

| Operator | Description              | Example  |
| -------- | -----------              | -------  |
| `==`     | Equal to                 | `1 == 1` |
| `!=`     | Not equal to             | `1 != 0` |
| `>`      | Greater than             | `1 > 0`  |
| `<`      | Less than                | `0 < 1`  |
| `>=`     | Greater than or equal to | `1 >= 1` |
| `<=`     | Less than or equal to    | `1 <= 1` |

### Examples

---
## Strings

Strings represent text and are enclosed by quotes.



```python
'A string in single quotes'
```



```python
"A string in double quotes"
```



```python
'''A multi-line
string in
triple quotes'''
```

### Examples

In [ ]:
'''dasd
fd
df'''
"dfds
dfsd"
'single quote'

### Operations with strings

### Examples

In [ ]:
greeting = 'hello, there!'

In [18]:
empty_string = ''

In [20]:
print(empty_string)

In [21]:
type(number)

int

In [22]:
print('Here is a single quote --> \' <-- ')
print("Here is a single quote --> ' <-- ")
print()
print("Here is a double quote --> \" <--")
print('Here is a double quote --> " <--')
print()
print('Newlines are indicated by the character "n" preceded by a backslash, like so')
print()
print('This string\ncontains a newline')

Here is a single quote --> ' <--
Here is a single quote --> ' <--

Here is a double quote --> " <--
Here is a double quote --> " <--

Newlines are indicated by the character "n" preceded by a backslash, like so

This string
contains a newline

In [23]:
'abc' + 'def ' + 'ghi'

'abcdef ghi'

In [24]:
'abc' * 3

'abcabcabc'

### Formatting strings

In [27]:
my_name = 'Gabe'

In [29]:
'hello, %s!' % my_name

'hello, Gabe!'

In [31]:
'hello, {}!'.format(my_name)

'hello, Gabe!'

In [36]:
f'hello,{my_name}! how are you today'
#f is required to FORMAT

'hello,Gabe! how are you today'

### Examples

In [25]:
'2' + 1

TypeError: can only concatenate str (not "int") to str

### String methods

A string method does not modify the original string. 

Assign the result to a new variable or update the string to use the modified string. 



| Data type | Description |
|:-: |----------|
| `.lower`|  convert to lower case
| `.upper`|  convert to upper case
| `.strip`  |  remove leading or trailing whitespace
| `.isdigit`|  tests whether a string is a number |
| `.split`| converts a string to a list |
| `.join`| converts a list to a string

### Examples

In [40]:
s = '    Hello world'

In [41]:
s.lower()

'    hello world'

In [42]:
'STRING'.lower()

'string'

In [43]:
s = s.lower()

In [44]:
print(s)

    hello world

In [45]:
s.strip()

'hello world'

In [46]:
s.isdigit()

False

In [55]:
a = '123'
b = '123, Main, Street'

In [54]:
a.isdigit()
#is digit only returns true when all the char are numbers 
#it will also reutrn false for descimals

False

In [56]:
b.lower().split(', ')

['123', 'main', 'street']

In [57]:
', '.join(['one','two','three'])

'one, two, three'

---

## Lists

### Creating a list

In [58]:
number_list = [1, 2, 3] # a list with three ints

In [59]:
print(number_list)

[1, 2, 3]

In [60]:
string_list = ['one', 'two', 'three']

In [63]:
list_of_list = [[1,2,3], [4,5,6], [7,8,9]]
list_of_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### List comprehensions

In [65]:
[n for n in range(10)]
# does not include 10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
[n *2 for n in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [67]:
[n * 2 for n in range(10) if n % 2 == 0]

[0, 4, 8, 12, 16]

### List Operations

In [68]:
numbers = [1, 2, 3]

In [70]:
numbers.append(4)
numbers

[1, 2, 3, 4, 4]

In [72]:
numbers.pop()
numbers

[1, 2, 3]

In [73]:
len(numbers)

3

In [75]:
## index
numbers[0] #brings the first object in list

1

In [76]:
numbers[:2]

[1, 2]

In [77]:
## converting to a list

list('abcde')

['a', 'b', 'c', 'd', 'e']

In [78]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
my_numbers = [1, 2, 3]

my_string_numbers = list(map(str, my_numbers))

In [82]:
my_string_numbers

['1', '2', '3']

---

## Tuples

In [83]:
my_tuple = (1, 2, 3)

In [84]:
type(my_tuple)

tuple

In [85]:
my_tuple[1]

2


---

## Dictionaries

In [86]:
my_dictionary = {
    
    'name' : 'Gabe',
    'age' : 10
}

In [87]:
my_dictionary

{'name': 'Gabe', 'age': 10}

### Creating a dictionary

In [89]:
my_name_dictionary = dict(name = 'codeup', age = 9)
my_name_dictionary

{'name': 'codeup', 'age': 9}

### Accessing dictionary values

In [91]:
school = dict(name = 'Codeup', age = 9)
school['name']

'Codeup'

In [92]:
school['age'] += 1

#take the value of age
#add 1
#update the dictionary

In [93]:
school['age']

10

## Changing data types

```python
int()
```

```python
str()
```

### Examples

In [94]:
a = 3
type(a)

int

In [95]:
str(a)

'3'

In [97]:
b = '6'
int(b)
type(b)

str

### Getting user input with `input`

```python
name = input('What is your name?')
print(name)
```

In [98]:
name = input('What is your name?')
print(name)

What is your name?Gabe
Gabe

In [99]:
f'Hello, {name}!'

'Hello, Gabe!'

In [100]:
first_number = input('what is the first number? ')

what is the first number? 4

In [101]:
second_number = input('what is the second number?')

what is the second number?5

In [102]:
sum_numbers = first_number + second_number
sum_numbers
#comes back as a string and needs to be converted to int

'45'